In [1]:
import os
import django
os.environ.setdefault('DJANGO_SETTINGS_MODULE', '/Users/keithmitchell/Desktop/Repositories/NeuroMabSeq/trimmer/trimmer/settings.py')
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
django.setup()

In [2]:
from django.contrib.auth.models import User
from sequence_db.models import TrimmerEntry
import pandas as pd
import datetime

User.objects.all()

In [3]:
from sequence_db.models import TrimmerSequence

In [4]:
TrimmerSequence.objects.first().__dict__

In [128]:
def cat_from_mabidlist(mab_id_list):
    #print(mab_id_list)
    mab_id_list = mab_id_list.split(',')
    mycatlist = []
    myparentlist = []
    mysubclonelist = []
    try:
        projects = [i.split('/')[0].replace(' ','') for i in mab_id_list]
        parents = [i.split('/')[1].split('.')[0].replace(' ', '') for i in mab_id_list]
        subclone = [i.split('/')[1].split('.')[1].replace(' ', '') for i in mab_id_list]
        #print(projects)
        #print(parents)
        #print(subclone)    
        myparentlist.append(parents)
        mysubclonelist.append(mab_id_list)


        # 0 CATEGORY: These are ok. No sublone in them
        # check if all entries have no dots.. do not include in subsequent analysis
        if sum([1 for i in mab_id_list if '.' in i])<1:
            mycatlist.append(0)    

        # 1 CATEGORY: These are ok as well. All IDs match.
        # check if all the same
        elif len(set(mab_id_list))==1:
            mycatlist.append(1)

        # 2 CATEGORY: just the subclone
        # check if all same up to the subclone type (up to the first dot) (projects and parents all 
        # the same but cant be all same)
        elif len(set(projects))==1 and len(set(parents))==1:
            mycatlist.append(2)


        # 3 CATEGORY: likely typos with groups more then 2    
        # check if project is the same but parent is different and subclone is the same (indicates typo in parent)
        elif len(set(projects))==1 and len(set(parents))==2 and len(set(subclone))==1 and len(mab_id_list)>2:
            mycatlist.append(3)

        # check if project is different but parent is same and subclone is the same (indicates typo in parent)
        elif len(set(projects))==2 and len(set(parents))==1 and len(set(subclone))==1 and len(mab_id_list)>2:
            mycatlist.append(3.5)

        # check if project is different and parent is different and subclone is the same (indicates typo in parent and subclone)
        elif len(set(projects))==1 and len(set(parents))==2 and len(set(subclone))==2 and len(mab_id_list)>2:
            mycatlist.append(3.6)


        # 4 CATEGORY: same as 3 but no requirement for more then 2 entries
        # check if project is the same but parent is different and subclone is the same (indicates typo in parent)
        elif len(set(projects))==1 and len(set(parents))==2 and len(set(subclone))==1:
            mycatlist.append(4)

        # check if project is different but parent is same and subclone is the same (indicates typo in parent)
        elif len(set(projects))==2 and len(set(parents))==1 and len(set(subclone))==1:
            mycatlist.append(4.5)

        # check if project is different and parent is different and subclone is the same (indicates typo in parent and subclone)
        elif len(set(projects))==1 and len(set(parents))==2 and len(set(subclone))==2:
            mycatlist.append(4.6)


        # 5 CATEGORY: bad?
        else:
            mycatlist.append(5)


    except:
        if 'parents' in locals():
            myparentlist.append(parents)
        else:
            myparentlist.append(mab_id_list)
        mysubclonelist.append(mab_id_list)
        # 0 CATEGORY: These are ok. No sublone in them
        # check if all entries have no dots.. do not include in subsequence analysis
        if sum([1 for i in mab_id_list if '.' in i])<1:
            mycatlist.append(0)    

        # 1 CATEGORY: These are ok as well. All IDs match.
        # check if all the same
        elif len(set(mab_id_list))==1:
            mycatlist.append(1)

        # -1 make my own category for failed ones
        else:
            mycatlist.append(-1)
    return mycatlist[0], myparentlist[0], mysubclonelist[0]

# Lets get a break down of of sequence groupby as well as chain counts per parent.

In [116]:
df = pd.DataFrame(list(TrimmerSequence.objects.all().values('seq','chain', 'entry__mabid')))

In [117]:
df

,seq,chain,entry__mabid
0,ATCATCTTCTCATAGAGCCTCCATCAGAGCATGGCTGTCCTGGCAT...,Heavy,positivecontrol1_N263/31.1
1,ACAAGTGTGCAGCCATGGGCAGGCTTACTTCTTCATTCTTGCTACT...,Heavy,L130/1.1
2,AACATATGTCCAATGTCCTCTCCTCAGACACTGAACACACTGACTC...,Heavy,L80/21.1
3,GACATAGAGGCACCTAACTCTGGACTCACAAGTCTTTCCCTTCAGT...,Heavy,L106/83.1
4,ATATGAACACTGTTTTCTCTACAGTCACTGAATCTCAAGGTCCTTA...,Heavy,N486/76.1
...,...,...,...
23567,ACTGATCAGTCTCCTCAGGCTGTCTCCTCAGGTTGCCTCCTCAAAA...,Light,N143/36.11
23568,AGACAGGCAGTGGGAGCAAGATGGATTCACAGGCCCAGGTTCTTAT...,Light,N144/17.2
23569,ATGGTCCACACAAACTCAGGGAAAGTTTGAAGATGGTATCCACACC...,Light,K39/25.3
23570,GAAATACATCAGATCAGCATGGGCATCAAGATGGAGTCACAGACTC...,Light,K58/35.4
23571,ATCCTCTCTTCCAGCTCTCAGAGATGGAGACAGACACACTCCTGTT...,Light,L109/57.1

In [119]:
mysers = df.groupby("seq")['entry__mabid'].transform(lambda x: ','.join(x))
print()

In [ ]:
pd.DataFrame([cat_from_mabidlist(mysers[i]) for i in range(0,len(mysers))], columns=["cat","parents","sublcones"]).to_csv("new_cats_from_db.csv")

In [96]:
df["entry__mabid"] = df["entry__mabid"].str.split(pat=".", expand=True)

In [97]:
df = df.groupby(["entry__mabid","chain"]).count().reset_index()

In [98]:
df.to_csv("jupyter/counts.csv")

In [99]:
df

                 entry__mabid  chain  seq
0                              Heavy    1
1                              Light    1
2                  10% N48676  Heavy    5
3                  10% N48676  Light    5
4                       12CA5  Heavy    1
...                       ...    ...  ...
7280         positivecontrol2  Light    3
7281  positivecontrol_L120/12  Heavy    2
7282  positivecontrol_L120/12  Light    2
7283   positivecontrol_N18/22  Heavy    8
7284   positivecontrol_N18/22  Light    5

[7285 rows x 3 columns]

In [111]:
df = df.pivot(index='entry__mabid', columns='chain')['seq']

In [103]:
df_en = pd.DataFrame(list(TrimmerEntry.objects.all().values('mabid','id')))

In [104]:
df_en

                           mabid    id
0     positivecontrol1_N263/31.1     1
1                       L130/1.1     2
2                       L80/21.1     3
3                      L106/83.1     4
4                      N486/76.1     5
...                          ...   ...
7814                   N144/17.2  7815
7815                    K28/43.2  7816
7816                    K39/25.3  7817
7817                    K58/35.4  7818
7818                   L109/57.1  7819

[7819 rows x 2 columns]

In [105]:
df_en.groupby('mabid').count()

                                                  id
mabid
                                                   1
10% N48676.1 + 30% L120/12.1 + 60% L71/5.5 RNA     1
10% N48676.1 + 30% L120/12.1 + 60% L71/5.5 cells   1
12CA5.3A5                                          1
1D8.1                                              1
...                                               ..
positivecontrol1_N91/27.1                          5
positivecontrol2                                   3
positivecontrol_L120/12.1                          2
positivecontrol_N18/22.1                           3
positivecontrol_N18/22.2                           2

[7042 rows x 1 columns]

In [106]:
df_en["mabid"] = df_en["mabid"].str.split(pat=".", expand=True)

In [107]:
df_en.groupby('mabid').count().to_csv('jupyter/mabid_seq_counts.csv')

In [108]:
df_en = df_en.groupby('mabid').count().reset_index("mabid")

In [109]:
df_en

                         mabid  id
0                                1
1                   10% N48676   2
2                        12CA5   1
3                          1D8   3
4                          1F1   3
...                        ...  ..
3781  positivecontrol1_N52A/42   4
3782   positivecontrol1_N91/27   5
3783          positivecontrol2   3
3784   positivecontrol_L120/12   2
3785    positivecontrol_N18/22   5

[3786 rows x 2 columns]

In [113]:
total_counts = df_en.merge(df, left_on="mabid", right_on='entry__mabid')

In [114]:
total_counts['times_sequenced'] = total_counts['id']

In [115]:
total_counts.to_csv('jupyter/total_counts.csv')